<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Blog Ninja</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Ninja</h1>
            </a>
        </div>
        <ul>

        </ul>
    </nav>
</body>

</html>